extends layout

block content
    form(method='POST', action='/new')
        label Username
        input(type='text', name='name')
        label Message Content 
        input(type='text', name='name')